<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>computed</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
</head>
<body>

    <div id="app" class="container">
        <!--Muestra el valor de la variable mensaje-->
        <h3>{{mensaje}}</h3>
        <!--Cambia en cada ocasión que detecta un cambio en alguna de sus propiedades, en este caso mensaje o invertido-->
        <h3>invertido: {{invertido}}</h3>
        <!--Es un input que obtiene el valor de datos del modelo: mensaje-->
        <input type="text" class="form-control" v-model="mensaje">
        <hr>
        <!--Llamamos a los eventos click y trabajamos la variable directamente-->
        <button class="btn btn-primary" @click="contador++">+</button>
        <button class="btn btn-danger" @click="contador--">-</button>
        <!--Muestra los cambios de la variable-->
        <h3>{{contador}}</h3>
        <div class="progress">
            <!--
                Al igual que podemos hacer con las clases y la propiedad vue :class
                también podemos realizarlo con los estilos y la propiedad vue :style
                ambos reciben objetos como valor y esto permite hacerlos dinámicos
            -->
            <div class="progress-bar" role="progressbar" 
            :style="{width: contador+'%'}" 
            :class="color"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{contador}}%
            </div>
        </div>

    </div>
    
  <script src="../vue.js"></script>
  <script src="main.js"></script>
</body>
</html>